/*
Team CDJ: Kyle Chan, Ian Jiang, Willow Denker
Kyle Chan
IntroCS pd07 sec11
HW05 Stuylin'
2021-02-22
*/

h1 {
    color: red
}

h2 {
    color: blue
}

h3 {
    color: green
}

body {
    background-color: black
}

p
{
    font-family: Arial
}